<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveUser</servlet-name>
  	<display-name>SaveUser</display-name>
  	<description></description>
  	<servlet-class>com.prince.SaveUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateOTP</servlet-name>
  	<display-name>GenerateOTP</display-name>
  	<description></description>
  	<servlet-class>com.prince.GenerateOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDAO</servlet-name>
  	<display-name>UserDAO</display-name>
  	<description></description>
  	<servlet-class>com.prince.UserDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveNGO</servlet-name>
  	<display-name>SaveNGO</display-name>
  	<description></description>
  	<servlet-class>com.prince.SaveNGO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SavePolice</servlet-name>
  	<display-name>SavePolice</display-name>
  	<description></description>
  	<servlet-class>com.prince.SavePolice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyAdmin</servlet-name>
  	<display-name>VerifyAdmin</display-name>
  	<description></description>
  	<servlet-class>com.prince.VerifyAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyUser</servlet-name>
  	<display-name>VerifyUser</display-name>
  	<description></description>
  	<servlet-class>com.prince.VerifyUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyPolice</servlet-name>
  	<display-name>VerifyPolice</display-name>
  	<description></description>
  	<servlet-class>com.prince.VerifyPolice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NGOLogin</servlet-name>
  	<display-name>NGOLogin</display-name>
  	<description></description>
  	<servlet-class>com.prince.NGOLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyNGO</servlet-name>
  	<display-name>VerifyNGO</display-name>
  	<description></description>
  	<servlet-class>com.prince.VerifyNGO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MissingRegister</servlet-name>
  	<display-name>MissingRegister</display-name>
  	<description></description>
  	<servlet-class>com.prince.MissingRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.prince.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveMissingPerson</servlet-name>
  	<display-name>SaveMissingPerson</display-name>
  	<description></description>
  	<servlet-class>com.prince.SaveMissingPerson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllUsers</servlet-name>
  	<display-name>ShowAllUsers</display-name>
  	<description></description>
  	<servlet-class>com.prince.ShowAllUsers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllNGO</servlet-name>
  	<display-name>ShowAllNGO</display-name>
  	<description></description>
  	<servlet-class>com.prince.ShowAllNGO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllPolice</servlet-name>
  	<display-name>ShowAllPolice</display-name>
  	<description></description>
  	<servlet-class>com.prince.ShowAllPolice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllAdmin</servlet-name>
  	<display-name>ShowAllAdmin</display-name>
  	<description></description>
  	<servlet-class>com.prince.ShowAllAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveContact</servlet-name>
  	<display-name>SaveContact</display-name>
  	<description></description>
  	<servlet-class>com.prince.SaveContact</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveNGO</servlet-name>
  	<display-name>RemoveNGO</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveNGO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveAllNGO</servlet-name>
  	<display-name>RemoveAllNGO</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveAllNGO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveAllPolice</servlet-name>
  	<display-name>RemoveAllPolice</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveAllPolice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemovePolice</servlet-name>
  	<display-name>RemovePolice</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemovePolice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveUser</servlet-name>
  	<display-name>RemoveUser</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveAllUser</servlet-name>
  	<display-name>RemoveAllUser</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveAllUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFeedback</servlet-name>
  	<display-name>RemoveFeedback</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveFeedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveAllFeedback</servlet-name>
  	<display-name>RemoveAllFeedback</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveAllFeedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMissingByName</servlet-name>
  	<display-name>ShowMissingByName</display-name>
  	<description></description>
  	<servlet-class>com.prince.ShowMissingByName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReport</servlet-name>
  	<display-name>DeleteReport</display-name>
  	<description></description>
  	<servlet-class>com.prince.DeleteReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveAllReport</servlet-name>
  	<display-name>RemoveAllReport</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveAllReport</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>RemoveReport</servlet-name>
  	<display-name>RemoveReport</display-name>
  	<description></description>
  	<servlet-class>com.prince.RemoveReport</servlet-class>
  </servlet>
    <servlet>
    	<servlet-name>ImageLoader</servlet-name>
    	<display-name>ImageLoader</display-name>
    	<description></description>
    	<servlet-class>com.prince.ImageLoader</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>UpdateMissingEditcontroller</servlet-name>
    	<display-name>UpdateMissingEditcontroller</display-name>
    	<description></description>
    	<servlet-class>com.prince.UpdateMissingEditcontroller</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>UpdateMissing</servlet-name>
    	<display-name>UpdateMissing</display-name>
    	<description></description>
    	<servlet-class>com.prince.UpdateMissing</servlet-class>
    </servlet>
  
  <servlet-mapping>
  	<servlet-name>SaveUser</servlet-name>
  	<url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateOTP</servlet-name>
  	<url-pattern>/GenerateOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDAO</servlet-name>
  	<url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveNGO</servlet-name>
  	<url-pattern>/SaveNGO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SavePolice</servlet-name>
  	<url-pattern>/SavePolice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyAdmin</servlet-name>
  	<url-pattern>/VerifyAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyUser</servlet-name>
  	<url-pattern>/VerifyUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyPolice</servlet-name>
  	<url-pattern>/VerifyPolice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NGOLogin</servlet-name>
  	<url-pattern>/NGOLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyNGO</servlet-name>
  	<url-pattern>/VerifyNGO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MissingRegister</servlet-name>
  	<url-pattern>/MissingRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveMissingPerson</servlet-name>
  	<url-pattern>/SaveMissingPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllUsers</servlet-name>
  	<url-pattern>/ShowAllUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllNGO</servlet-name>
  	<url-pattern>/ShowAllNGO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllPolice</servlet-name>
  	<url-pattern>/ShowAllPolice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveContact</servlet-name>
  	<url-pattern>/SaveContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveNGO</servlet-name>
  	<url-pattern>/RemoveNGO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAllNGO</servlet-name>
  	<url-pattern>/RemoveAllNGO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAllPolice</servlet-name>
  	<url-pattern>/RemoveAllPolice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemovePolice</servlet-name>
  	<url-pattern>/RemovePolice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveUser</servlet-name>
  	<url-pattern>/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAllUser</servlet-name>
  	<url-pattern>/RemoveAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFeedback</servlet-name>
  	<url-pattern>/RemoveFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAllFeedback</servlet-name>
  	<url-pattern>/RemoveAllFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMissingByName</servlet-name>
  	<url-pattern>/ShowMissingByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReport</servlet-name>
  	<url-pattern>/DeleteReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAllReport</servlet-name>
  	<url-pattern>/RemoveAllReport</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>RemoveReport</servlet-name>
  	<url-pattern>/RemoveReport</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ImageLoader</servlet-name>
 	<url-pattern>/ImageLoader</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UpdateMissingEditcontroller</servlet-name>
 	<url-pattern>/UpdateMissingEditcontroller</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UpdateMissing</servlet-name>
 	<url-pattern>/UpdateMissing</url-pattern>
 </servlet-mapping>
 
  
</web-app>
